.App {
  text-align: center;
}

.container {
  margin: 20px;
  display: grid;
}

.box {
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  margin-left: 20px;
}

button {
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
}
